.weather-app {
    max-width: 600px;
    margin: 30px auto;
    padding: 5px;
    text-align: left;
}
body {
    font-family: arial, sans-serif;
    background: rgb(165, 212, 213);
    background: linear-gradient(
      0deg,
      rgba(165, 212, 213, 1) 8%,
      rgba(249, 246, 238, 1) 100%
    );
  }
  form {
    text-align: right;
    display: inline;
  }
  
  .border {
    border: 1px solid, #777;
    padding: 20px;
    margin: 20px auto;
    max-width: 750px;
    border-radius: 10px;
  }


    h1 {
        font-family: "Caveat", cursive;
        text-align: center;
        font-weight: 900;
        margin: 0;
        font-size: 44px;
        line-height: 48px;
        display: inline;
        color: #73a8cf;
        margin-right: 30px;
      }

  h2 {
    color: #878787;
    font-size: 24px;
    font-weight: 100;
    line-height: 28px;
    margin-bottom: 0;
  }
  
  ul {
    margin: 0;
    padding: 0;
  }
  
  li {
    list-style: none;
    margin: 0;
    padding: 0;
    
    color: rgb(135, 135, 135);
    font-size: 16px;
    font-weight: 100;
    line-height: 19px;
  }
  
  li:first-letter {
    text-transform: capitalize;
  }
  .weather-app-wrapper {
    max-width: 600px;
    margin: 30px auto;
  }
  .overview {
    margin-bottom: 20px;
  }
  .weather-temperature img {
    margin-right: 5px;
    height: 64px;
    width: 64px;
  }
  
  .weather-temperature strong {
    color: rgb(33, 33, 33);
    font-size: 64px;
    line-height: 1;
    font-weight: 400;
  }
  
  .weather-temperature .units {
    position: relative;
    font-size: 16px;
    top: -34px;
  }
  .row {
    font-size: 17px;
    color: #000;
    font-family: "Tinos", serif;
    margin: 35px auto;
    text-align: center;
  }

  .owner {
    margin: 30px auto;
    text-align: center;
  }
  .state {
text-align: right;
position: relative;
bottom: 60px;
  }